{% extends 'base.html.twig' %}

{% block title %}Categories
{% endblock %}

{% block body %}
	<style>
		input {
			outline: none;
			border: none;
		}

		input:active,
		input:focus,
		input:hover {
			border: none;
			outline: none;
		}
		.search-field {
			width: 80%;
		}
		.search {
			border: 1px solid gray;
			border-radius: 20px;
			width: 100%;
			padding-inline: 10px;
		}
		.search:active,
		.search:focus,
		.search:hover {
			border: 1px solid gray;
		}
	</style>
	<div class="header d-flex justify-content-between mt-5 mb-4">
		<h1 class="h3 font-weight-normal">Categories</h1>
		<a href="{{ path('category_create') }}" class="btn btn-success">Create New</a>
	</div>
	<form class="d-flex justify-content-between gap-2 search-field mb-5">
		<input type="search" name="title" class="search" placeholder="Search categories">
		<button type="submit" class="btn btn-dark">Search</button>
	</form>
	{% for message in app.flashes('success') %}
		{% if message is not empty %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
		{% endif %}
	{% endfor %}
	<ol class="list-group list-group-numbered">
		{% for category in categories %}
			<li class="list-group-item">
				<a href="{{ path('posts_by_category', {'slug': category.slug}) }}">{{ category.title|capitalize }}</a>
			</li>
		{% endfor %}
	</ol>
{% endblock %}