{% extends 'base.html.twig' %}

{% block title %}New Post
{% endblock %}


{% block body %}
	<div class="header mt-4 mb-4 d-flex justify-content-between mt-5 mb-4">
		<h1 class="h1">New Post</h1>
		<div>
			<a href="{{ path('posts_self') }}" class="btn btn-success">My Posts</a>
		</div>
	</div>
	{% include 'post/form.html.twig' %}
{% endblock %}
